$gold: #DABC4F;
$brown: #411515;
$gray: #5C5C5C;
$font-pridi: 'Pridi', serif;
$font-prompt: 'Prompt', sans-serif;

.container-category{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 85vh;
  background-image: url(../assets/fondo-hu1.png);
  width: 100%;

  .waiter-choise,  .admin-choise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 40%;


    a{
      background: #DABC4F;
      border-radius: 9px;
      width: 70%;
      padding: 20px;
      color: #411515;
      font-family: "Pridi", gitserif;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 50px;
      outline: none;
      text-decoration: none;
 
    }



  }

  



  
}
