$gold: #DABC4F;
$brown: #411515;
$gray: #5C5C5C;
$font-pridi: 'Pridi', serif;
$font-prompt: 'Prompt', sans-serif;

.header-menu {
  background-color:$gold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo-Header{
    padding: 8px;
    margin-left: 10px;
  }
  .title{
    font-size: 35px;
    color: $brown;
    opacity: 0.8;
  }
  .user-logged{
    display: flex;
    align-items: center;
    font-family: $font-prompt;
    padding: 15px;
    margin: 10px;
    font-size: 25px;
    color: $brown; 
  }
  .user-icon{
    font-size: 1.4rem;
    margin-left: 10px;
    padding: 7px;
    border: 2px solid $brown;
    border-radius: 50%;
  }
  .menu-icon{
    font-size: 2.5rem;
    margin-left: 25px;
  }

}

.container-orders{
  display: flex;
  flex-direction: row;
  height: 88vh;

  .products-options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../assets/fondo-hu1.png);
    width: 65%;

    .options-header{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .options-food{
        border-radius: 9px;
        background: transparentize($color: #000000, $amount: 0.2);
        width: 33%;
        padding: 15px 0;
        color: white;
        font-family: $font-pridi;
        font-size: 25px;
      }
    }

    .box-photos{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background: transparentize($color: #000000, $amount: 0.2);
      width: 85%;
      height: 70%;
      margin-left: 50px;
      border-radius: 9px;

      .box-btn-food{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .btn-food{
          background: #DABC4F;
          border-radius: 9px;
          width: 25%;
          padding: 5px 0;
          color: #411515;
          font-family: "Pridi", gitserif;
          font-size: 20px;
        }
      }

      .box-option-food{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 80%;
        overflow: auto;

        .box-food{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 160px;
          border-radius: 10px;
          background: white;
          background-size: cover;
          margin-bottom: 30px;

          .img-food{
            height: 100px;
            width: auto;
          }
          p{
            text-align: center;
            font-family: $font-pridi;
            color: $brown;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }
    }
  }

  .orders-placed{
    background: $gray;
    width: 40%;

    .title {
      text-align: center;
      font-family: $font-pridi;
      color: white;
      font-size: 1.9rem;
      font-weight: bold;
    }

    .cliente {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-top: 3px solid $gold;
      padding: 10px;

      .letter{
        text-align: center;
        font-family: $font-pridi;
        color: white;
        font-size: 1.2rem;
      }

      .name-user{
        background: transparentize($color: #000000, $amount: 0.7);
        border: none;
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
        width: 60%;
        height: 25px;
        outline: none;
      }
    }

    table{
      width: 100%;
      font-family: $font-prompt;
      text-align: center;
      border-spacing: 0;
      margin-bottom: 30%;

      .head-order{
        background: $gold;
        font-size: 1.3rem;
        border-bottom: 2px solid black;
        border-top: 2px solid black;

        th{
          color: $brown;
          height: 40px;
        }
      }

      td{
        color: white;
        font-size: 1.2rem;
        border-bottom: 2px solid gray;
        height: 45px;

        i{
          color: rgb(214, 117, 117);
          margin-right: 10px;

        }
      }
    }

    .total{
      background: $gold;
      font-size: 1.3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 45px;
      font-family: $font-pridi;
      font-weight: bold;
    }

    .options-button{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 25%;

      .cancel{
        background: #C4C4C4;
        border-radius: 9px;
        width: 43%;
        padding: 5px 0;
        color: black;
        font-family: "Pridi", gitserif;
        font-size: 20px;
        height: 60px;
        font-weight: bold;
      }

      .send-cook{
        background: #78D84C;
        border-radius: 9px;
        width: 43%;
        padding: 5px 0;
        color: black;
        font-family: "Pridi", gitserif;
        font-size: 20px;
        height: 60px;
        font-weight: bold;
      }
    }
  }
  
}


