.table{
  width: 80%;
  font-family: $font-prompt;
  color: gray;
  font-size: 1.2rem;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;

  th{
    height: 40px;
  }

  td{
    height: 90px;
  }
 
  th{
    font-size: 1.3rem;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
  }

  td:last-child, th:last-child{
    border: 0;
  }

  th:first-child, th:last-child{
    border-left: 2px solid gray;
  }

  td{
    border-bottom: 1px solid gray;
  }
  
  td:first-child, td:last-child{
    border-left: 1px solid gray;
  }

  .icon{
    font-size: 2rem;
  }
  .edit{
    color: $gold;
  }
  .delete{
    margin-left: 20px;
    color: #960404;
  }

  .t-date{
    font-size: 1.1rem;
  }

  .t-img{
    width: 80px;
    height: 80px;
    margin-top: 5px;
  }
}

.t-product{
  width: 85%;
}
