@import "./components/login";

* {
    margin: 0;
    padding: 0;
}

// Esto tuve que poner aca para que no haya conflicto con la ruta
.container-login {
    height: 100vh;
    background-image: url(../assets/fondo-login.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

