.header-menu {
  background-color: #DABC4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu .logo-Header {
  padding: 8px;
}

.header-menu .title {
  font-size: 35px;
  color: #411515;
}

.header-menu .userlogueado {
  font-family: "Prompt", sans-serif;
  padding: 15px;
  margin: 10px;
  font-size: 25px;
  color: #411515;
}

.container-orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 88vh;
}

.container-orders .breakfast-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../assets/fondo-hu1.png);
  width: 65%;
}

.container-orders .breakfast-options .options-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-orders .breakfast-options .options-header .options-food {
  border-radius: 9px;
  background: rgba(0, 0, 0, 0.8);
  width: 33%;
  padding: 15px 0;
  color: white;
  font-family: "Pridi", serif;
  font-size: 25px;
}

.container-orders .breakfast-options .box-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(0, 0, 0, 0.8);
  width: 85%;
  height: 70%;
  margin-left: 50px;
  border-radius: 9px;
}

.container-orders .breakfast-options .box-photos .box-btn-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-orders .breakfast-options .box-photos .box-btn-food .btn-food {
  background: #DABC4F;
  border-radius: 9px;
  width: 25%;
  padding: 5px 0;
  color: #411515;
  font-family: "Pridi", serif;
  font-size: 20px;
}

.container-orders .breakfast-options .box-photos .box-option-breakfast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80%;
}

.container-orders .breakfast-options .box-photos .box-option-breakfast .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 40%;
  background: white;
  background-size: cover;
  margin: 10px;
  margin-left: 5px;
}

.container-orders .breakfast-options .box-photos .box-option-breakfast .photo .option-breakfast {
  width: 80%;
  margin: 5px 15px;
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */