.container-login {
  height: 100vh;
  background-image: url(../assets/fondo-login.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 250px;
  width: 100%;
}

.logo {
  width: auto;
  height: 170px;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 9px;
  background: rgba(0, 0, 0, 0.5);
  width: 35%;
  padding: 25px 0;
}

.login-form p {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 2rem;
  color: white;
  font-family: "Pridi", serif;
}

.login-form .box-user {
  margin: 15px;
  height: 45px;
  width: 80%;
  border-radius: 9px;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form .box-user .user {
  color: white;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 10px;
  height: 100%;
  width: 100%;
  border: 0;
  border-left: 1px solid white;
  outline: none;
}

.login-form .box-user .user:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.login-form .box-user .user::-webkit-input-placeholder {
  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 1.1rem;
}

.login-form .box-user .user:-ms-input-placeholder {
  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 1.1rem;
}

.login-form .box-user .user::-ms-input-placeholder {
  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 1.1rem;
}

.login-form .box-user .user::placeholder {
  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 1.1rem;
}

.login-form .box-user .user-icon {
  font-size: 1.5rem;
  color: white;
  margin: 0 10px;
}

.login-form .btn-login {
  color: #411515;
  font-family: "Pridi", serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
  background-color: #DABC4F;
  height: 50px;
  width: 80%;
  border-radius: 9px;
  border: 0;
}

.login-form .btn-login:hover {
  background-color: #b1973b;
}

.header-menu {
  background-color: #DABC4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu .logo-Header {
  padding: 8px;
  margin-left: 10px;
}

.header-menu .title {
  font-size: 35px;
  color: #411515;
  opacity: 0.8;
}

.header-menu .user-logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Prompt", sans-serif;
  padding: 15px;
  margin: 10px;
  font-size: 25px;
  color: #411515;
}

.header-menu .user-icon {
  font-size: 1.4rem;
  margin-left: 10px;
  padding: 7px;
  border: 2px solid #411515;
  border-radius: 50%;
}

.header-menu .menu-icon {
  font-size: 2.5rem;
  margin-left: 25px;
}

.container-orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 88vh;
}

.container-orders .products-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../assets/fondo-hu1.png);
  width: 65%;
}

.container-orders .products-options .options-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-orders .products-options .options-header .options-food {
  border-radius: 9px;
  background: rgba(0, 0, 0, 0.8);
  width: 33%;
  padding: 15px 0;
  color: white;
  font-family: "Pridi", serif;
  font-size: 25px;
}

.container-orders .products-options .box-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(0, 0, 0, 0.8);
  width: 85%;
  height: 70%;
  margin-left: 50px;
  border-radius: 9px;
}

.container-orders .products-options .box-photos .box-btn-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-orders .products-options .box-photos .box-btn-food .btn-food {
  background: #DABC4F;
  border-radius: 9px;
  width: 25%;
  padding: 5px 0;
  color: #411515;
  font-family: "Pridi", gitserif;
  font-size: 20px;
}

.container-orders .products-options .box-photos .box-option-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80%;
  overflow: auto;
}

.container-orders .products-options .box-photos .box-option-food .box-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  background: white;
  background-size: cover;
  margin-bottom: 30px;
}

.container-orders .products-options .box-photos .box-option-food .box-food .img-food {
  height: 100px;
  width: auto;
}

.container-orders .products-options .box-photos .box-option-food .box-food p {
  text-align: center;
  font-family: "Pridi", serif;
  color: #411515;
  font-size: 1.2rem;
  font-weight: bold;
}

.container-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-users h2 {
  font-family: "Pridi", serif;
  color: #411515;
  font-size: 2.5rem;
  margin: 20px 0;
}

.container-users .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.container-users .btn-container button {
  margin: 20px;
  color: #411515;
  background-color: #DABC4F;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-family: "Pridi", serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.container-users ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-users ul .table {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
}

.container-users ul .table p {
  text-align: center;
  font-family: "Prompt", sans-serif;
  color: gray;
  font-size: 1.2rem;
}

.container-users ul .table .xl-column {
  width: 25%;
}

.container-users ul .table .l-column {
  width: 18%;
}

.container-users ul .table .m-column {
  width: 10%;
}

.container-users ul .table .s-column {
  width: 7%;
}

.container-users ul .header {
  border: 1px solid #000;
}

.container-users ul .header p {
  font-weight: bold;
}

.container-users ul .data {
  border: 1px solid;
}

.container-users ul .data .icon {
  font-size: 1.5rem;
}

.container-users ul .data .edit {
  margin: 0 10px;
  color: #DABC4F;
}

.container-users ul .data .delete {
  margin-left: 10px;
  color: #960404;
}

.container-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-products h2 {
  font-family: "Pridi", serif;
  color: #411515;
  font-size: 2.5rem;
  margin: 20px 0;
}

.container-products .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.container-products .btn-container button {
  margin: 20px;
  color: #411515;
  background-color: #DABC4F;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-family: "Pridi", serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.container-products ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-products ul .table {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
}

.container-products ul .table p {
  text-align: center;
  font-family: "Prompt", sans-serif;
  color: gray;
  font-size: 1.2rem;
}

.container-products ul .table .l-column {
  width: 30%;
}

.container-products ul .table .m-column {
  width: 15%;
}

.container-products ul .table .s-column {
  width: 15%;
}

.container-products ul .header {
  border: 1px solid #000;
}

.container-products ul .header p {
  font-weight: bold;
}

.container-products ul .data {
  border: 1px solid;
}

.container-products ul .data .icon {
  font-size: 1.5rem;
}

.container-products ul .data .edit {
  margin: 0 10px;
  color: #DABC4F;
}

.container-products ul .data .delete {
  margin-left: 10px;
  color: #960404;
}

.bg-img-fries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gray;
  height: 80vh;
}

.bg-img-fries .modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  background-color: #411515;
  border-radius: 10px;
}

.bg-img-fries .modal-window p {
  color: #FFF;
  font-family: "Pridi", serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 60px;
  height: 60px;
}

.bg-img-fries .modal-window .form-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  border-radius: 0 0 10px 10px;
}

.bg-img-fries .modal-window .form-modal .form-container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
}

.bg-img-fries .modal-window .form-modal .form-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  height: 35px;
}

.bg-img-fries .modal-window .form-modal .form-container div .label-text {
  font-family: "Pridi", serif;
  color: #411515;
  font-weight: bold;
  font-size: 1.3rem;
}

.bg-img-fries .modal-window .form-modal .form-container div .input-modal {
  width: 75%;
  font-size: 1.2rem;
  padding: 5px 10px;
  border: 0;
  border-bottom: 1px solid gray;
  outline-color: gray;
}

.bg-img-fries .modal-window .form-modal .form-container div .input-modal::-webkit-input-placeholder {
  font-size: 1.2rem;
}

.bg-img-fries .modal-window .form-modal .form-container div .input-modal:-ms-input-placeholder {
  font-size: 1.2rem;
}

.bg-img-fries .modal-window .form-modal .form-container div .input-modal::-ms-input-placeholder {
  font-size: 1.2rem;
}

.bg-img-fries .modal-window .form-modal .form-container div .input-modal::placeholder {
  font-size: 1.2rem;
}

.bg-img-fries .modal-window .form-modal .form-container div .box-select {
  width: 80%;
}

.bg-img-fries .modal-window .form-modal .form-container div .select-modal {
  width: 20%;
  height: 35px;
  border-radius: 5px;
}

.bg-img-fries .modal-window .form-modal .form-container div .btn-modal {
  width: 48%;
  font-family: "Pridi", serif;
  font-size: 1.2rem;
  font-weight: bold;
  height: 50px;
  border-radius: 9px;
  border: 0;
}

.bg-img-fries .modal-window .form-modal .form-container div .cancel {
  background-color: #E5E5E5;
  color: #4e4e4e;
}

.bg-img-fries .modal-window .form-modal .form-container div .save {
  background-color: #3DB01C;
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */