$brown: #411515;
$gold: #DABC4F;
$font-pridi: 'Pridi', serif;
$font-prompt: 'Prompt', sans-serif;
$gold-2: #b1973b;

.container-login {
    height: 100vh;
    background-image: url(../assets/fondo-login.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 250px;
    width: 100%;
}

.logo{
    width: auto;
    height: 170px;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    background: transparentize($color: #000000, $amount: 0.5);
    width: 35%;
    padding: 25px 0;

    p{
        box-sizing: content-box;
        font-size: 2rem;
        color: white;
        font-family: $font-pridi;
    }
    // se usa tanto para el usuario como el password
    .box-user{
        margin: 15px;
        height: 45px;
        width: 80%;
        border-radius: 9px;
        border: 2px solid white;
        display: flex;
        align-items: center;
        // estilo para el input
        .user{
            color: white;
            font-size: 1.1rem;
            background-color: transparentize($color: #000000, $amount: 1);
            padding-left: 10px;
            height: 100%;
            width: 100%;
            border: 0;
            border-left: 1px solid white;
            outline: none;
            // se agrega la transparencia cuando el cursor esta en el input
            &:focus{
                background-color: transparentize($color: #000000, $amount: 0.5);
            }
            // pseudo-elemento para poner estilo texto por defecto del input
            &::placeholder{
                color: white;
                font-family: $font-prompt;
                font-size: 1.1rem;
            }
        }
        // estilo para los iconos
        .user-icon{
            font-size: 1.5rem;
            color: white;
            margin: 0 10px;
        }
     }

    .btn-login{
        color: $brown;
        font-family: $font-pridi;
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 15px;
        background-color: $gold;
        height: 50px;
        width: 80%;
        border-radius: 9px;
        border: 0;
        // estilo para cuando se apriete el boton
        &:hover{
            background-color: $gold-2;
        }
    }
}


